.toolbar {
    padding: 6px 0;
    background-color: var(--whiteColor);
    border: solid 2px var(--lightGrayBlueColor);
    border-left: 0;
    border-right: 0;
}

.toolbarWrapper {
    margin-left: 15px;
    display: flex;
    gap: 8px;
}

.button {
    width: 26px;
    height: 26px;
    border: none;
    padding: 0px;
    border-radius: 3px;
}

.button:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: var(--lightYellowColor);
}

.addSlide {    
    mask:  url(../../../public/toolbar/add_slide.svg);
    background-color: var(--darkGrayColor);
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    width: 26px;
}

.button:disabled span{
    background-color: var(--lightGrayBlueColor);
}

.removeSlide {
    background-image:  url(../../../public/toolbar/remove_slide.png);
}

.cancel {    
    background-image: url(../../../public/toolbar/cancel.png);    
}

.repeat {
    background-image: url(../../../public/toolbar/repeat.png);  
}

.target {
    background-image: url(../../../public/toolbar/target.png);  
}

.addBlock {
    background-image: url(../../../public/toolbar/add_block.png);  
}

.addImage {
    background-image: url(../../../public/toolbar/add_image.png);  
}

.addFigure {
    background-image: url(../../../public/toolbar/add_figure.png);  
}

.moveUpSlide {
    background-image: url(../../../public/toolbar/move_slide_up.png);  
}

.moveDownSlide {
    background-image: url(../../../public/toolbar/move_slide_down.png);  
}

.separetor {
    display: block;
    width: 2px;
    height: 26px;
    background-color: var(--lightGrayBlueColor);
}