
.header {
    display: flex;
    justify-content: flex-start;
    max-width: 400px;
    background-color: #fff;
}

.icon {
    background: url("../../../public/header/header_logo.png");
    width: 64px;
    height: 64px;
    background-color: yellow;
}

.icon:hover {
    cursor: pointer;
}

.block {
    margin-left: 1px;
}

.projectName {
    margin: 8px 0 4px 7px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.button {
    padding: 7px 10px;
    border-radius: 0;
    background-color: #fff;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.button:hover {
    background-color: #dadce0;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.button:active {
    background-color: #feefc3;
    border-radius: 5px 5px 0 0;
}

.navigationMenu {
    display: flex;
    justify-content: space-between;
    width: 260px;    
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {display:block;}