
.menuWrapper {
    padding: 0;
}

.menuList {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 5px 0;
}

.menuList:hover {
    background-color: var(--lightGrayColor);
}

.menuButton {
    padding: 0 0 0 7px;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font: 15px/1.2 var(--mainFontFamily);
    position: relative;
    bottom: 1px;
}

.cancelIcon {
    position: relative;
    top: 2px;
    margin-left: 15px;
    background: url("../../../../public/header/cancel.png") no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.redoIcon {
    position: relative;
    top: 3px;
    margin-left: 15px;
    background-image: url("../../../../public/header/redo.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.deleteIcon {
    position: relative;
    top: 1px;
    margin-left: 15px;
    background-image: url("../../../../public/header/delete.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.copyIcon {
    position: relative;
    margin-left: 15px;
    background-image: url("../../../../public/header/copy.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.cutIcon {
    margin-left: 15px;
    background-image: url("../../../../public/header/cut.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}