.changeFontWrapper {

}

.changeFontSelect,
.changeFontSelect:active
{
    border: none;
    outline:none;
    height: 25px;
}

.changeFontSelect:hover {
    background-color: var(--lightGrayBlueColor);
    border-radius: 3px;
}

.changeTextSizeWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}

.changeTextSizeNumber {
    border: 1px solid var(--lightGrayBlueColor);
    border-left: 0;
    border-right: 0;
    padding: 3px 5px 0 5px;
    min-width: 25px;
    text-align: center;
    margin: 1px 0;
    font: var(--textMainFontSize)/1.2 var(--mainFontFamily);
}


.changeTextSize {
    background-color: var(--whiteColor);
    cursor: pointer;
    display: inline-block;
    height: 26px;
    width: 26px;
    border: 1px solid var(--lightGrayBlueColor);
    padding: 0;
    border-radius: 3px 0 0 3px;
    scale: 0.9;
}

.leftButton {
    border-radius: 3px 0 0 3px;
    position: relative;
    left: 1px;
}

.rightButton {
    border-radius: 0 3px 3px 0;
    position: relative;
    right: 1px;
}

.changeTextSize:hover {
    cursor: pointer;
    scale: 1;
    background-color: var(--lightGrayBlueColor);
}

.button {
    width: 26px;
    height: 26px;
    border: none;
    padding: 0;
    border-radius: 3px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--lightYellowColor);
}

.button:disabled span{
    background-color: var(--lightGrayBlueColor);
}

.pictureWrapper {
    background-color: var(--darkGrayColor);
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    width: 26px;
}

.paletteWrapper {
    position: absolute;
    z-index: 1000;
    content: "";
    width: 125px;
    height:  210px;
    background-color:  var(--whiteColor);
    box-shadow: 0 0 5px 5px var(--lightGrayColor);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 7px;
}

.circleButton {
    width: 15px;
    height:  15px;
    margin: 4px 2px;
    border-radius: 10px;
    border: 1px solid var(--lightGrayColor);

}

.circleButton:hover {
    box-shadow: 0 0 2px 2px var(--lightYellowColor);
    scale: 1.1;

}

.colorBlack {
    background-color: rgba(0, 0, 0, 1);
}

.colorBlackLight {
    background-color: rgba(0, 0, 0, 0.54);
}

.colorBlackVeryLight {
    background-color: rgba(0, 0, 0, 0.31);
}

.colorBlackGray {
    background-color: rgba(0, 0, 0, 0.15);
}

.colorWhite {
    background-color: rgba(0, 0, 0, 0);
}

.colorRed {
    background-color: rgb(248, 0, 0);
}

.colorRedLight {
    background-color: rgba(255, 0, 0, 0.78);
}

.colorRedVeryLight {
    background-color: rgba(218, 9, 9, 0.35);
}

.colorRedGray {
    background-color: rgba(201, 38, 38, 0.32);
}

.colorRedGrayLight {
    background-color: rgba(245, 8, 8, 0.04);
}

.colorOrange {
    background-color: rgb(255, 131, 4);
}

.colorOrangeLight {
    background-color: rgba(255, 131, 4, 0.8);
}

.colorOrangeVeryLight {
    background-color: rgba(255, 131, 4, 0.6);
}

.colorOrangeGray {
    background-color: rgba(255, 131, 4, 0.39);
}

.colorOrangeGrayLight {
    background-color: rgba(255, 131, 4, 0.17);
}

.colorYellow {
    background-color: rgb(255, 190, 0);
}

.colorYellowLight {
    background-color: rgba(255, 190, 0, 0.8);
}

.colorYellowVeryLight {
    background-color: rgba(255, 190, 0, 0.6);
}

.colorYellowGray {
    background-color: rgba(255, 190, 0, 0.4);
}

.colorYellowGrayLight {
    background-color: rgba(255, 190, 0, 0.2);
}

.colorGreen {
    background-color: rgb(24, 255, 0);
}

.colorGreenLight {
    background-color: rgba(24, 255, 0, 0.8);
}

.colorGreenVeryLight {
    background-color: rgba(24, 255, 0, 0.6);
}

.colorGreenGray {
    background-color: rgba(24, 255, 0, 0.4);
}

.colorGreenGrayLight {
    background-color: rgba(24, 255, 0, 0.2);
}

.colorBlue {
    background-color: rgb(0, 91, 255);
}

.colorBlueLight {
    background-color: rgba(0, 91, 255, 0.8);
}

.colorBlueVeryLight {
    background-color: rgba(0, 91, 255, 0.6);
}

.colorBlueGray {
    background-color: rgba(0, 91, 255, 0.4);
}

.colorBlueGrayLight {
    background-color: rgba(0, 91, 255, 0.2);
}

.colorPurple {
    background-color: rgb(132, 0, 255);
}

.colorPurpleLight {
    background-color: rgba(132, 0, 255, 0.8);
}

.colorPurpleVeryLight {
    background-color: rgba(132, 0, 255, 0.6);
}

.colorPurpleGray {
    background-color: rgba(132, 0, 255, 0.4);
}

.colorPurpleGrayLight {
    background-color: rgba(132, 0, 255, 0.2);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.fontColor {
    mask: url(../../../../../public/toolbar/font_color.svg);
}

.backgroundColor {
    mask: url(../../../../../public/toolbar/background_color.svg);
}
