
.menuWrapper {
    padding: 0;
}

.menuList {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 5px 0;
}

.menuList:hover {
    background-color: var(--lightGrayColor);
}

.menuButton {
    padding: 0 0 0 7px;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font: 15px/1.2 var(--mainFontFamily);
    position: relative;
    bottom: 1px;
}

.addTextIcon {
    margin-left: 15px;
    background: url("../../../../public/header/add_text.png") no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.addPictureIcon {
    margin-left: 15px;
    background-image: url("../../../../public/header/add-picture.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.addRectangleIcon {
    position: relative;
    top: 1px;
    margin-left: 15px;
    background-image: url("../../../../public/header/add-rectangle.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.addTriangleIcon {
    position: relative;
    top: 1px;
    margin-left: 15px;
    background-image: url("../../../../public/header/add-triangle.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.addCircleIcon {
    position: relative;
    top: 1px;
    margin-left: 15px;
    background-image: url("../../../../public/header/add-circle.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}