.changeFontWrapper {

}

.changeFontSelect,
.changeFontSelect:active
{
    border: none;
    outline:none;
    height: 25px;
}

.changeFontSelect:hover {
    background-color: var(--lightGrayBlueColor);
    border-radius: 3px;
}


.changeTextSizeWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}

.changeTextWrapper {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}

.changeTextSizeNumber {
    border: 1px solid var(--lightGrayBlueColor);
    border-left: 0;
    border-right: 0;
    padding: 3px 5px 0 5px;
    min-width: 25px;
    max-width: 40px;
    text-align: center;
    margin: 1px 0;
    font: var(--textMainFontSize)/1.2 var(--mainFontFamily);
}

.changeTextValue {
    border: 1px solid var(--lightGrayBlueColor);
    border-left: 0;
    border-right: 0;
    padding: 3px 5px 0 5px;
    min-width: 100%;
    text-align: left;
    margin: 1px 0;
    font: var(--textMainFontSize)/1.2 var(--mainFontFamily);
}


.changeTextSize {
    background-color: var(--whiteColor);
    cursor: pointer;
    display: inline-block;
    height: 26px;
    width: 26px;
    border: 1px solid var(--lightGrayBlueColor);
    padding: 0;
    border-radius: 3px 0 0 3px;
    scale: 0.9;
}

.leftButton {
    border-radius: 3px 0 0 3px;
    position: relative;
    left: 1px;
}

.rightButton {
    border-radius: 0 3px 3px 0;
    position: relative;
    right: 1px;
}

.changeTextSize:hover {
    cursor: pointer;
    scale: 1;
    background-color: var(--lightGrayBlueColor);
}

.button {
    width: 26px;
    height: 26px;
    border: none;
    padding: 0;
    border-radius: 3px;
}

.button:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: var(--lightYellowColor);
}

.button:disabled span{
    background-color: var(--lightGrayBlueColor);
}

.pictureWrapper {
    background-color: var(--darkGrayColor);
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    width: 26px;
}

.increaseFontSize {
    mask:  url(../../../../../public/toolbar/add_slide.svg);
}

.decreaseFontSize {
    mask:  url(../../../../../public/toolbar/remove_slide.svg);
}

.boldText {
    mask: url(../../../../../public/toolbar/bold_text.svg);
}

.italicText {
    mask: url(../../../../../public/toolbar/italic_text.svg);
}

.underlineText {
    mask: url(../../../../../public/toolbar/underline_text.svg);
}

.fontColor {
    mask: url(../../../../../public/toolbar/font_color.svg);
}

.backgroundColor {
    mask: url(../../../../../public/toolbar/background_color.svg);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.toolbar {
    padding: 6px 0;
    background-color: var(--whiteColor);
    border: solid 2px var(--lightGrayBlueColor);
    border-left: 0;
    border-right: 0;
}

.toolbarWrapper {
    margin-left: 2px;
    display: flex;
    gap: 8px;
}

.separator {
    display: block;
    width: 2px;
    height: 26px;
    background-color: var(--lightGrayBlueColor);
}

.slideBackgroundColor {
    background-color: var(--darkGrayColor);
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    width: 26px;
}

.bringToFront {
    mask: url(../../../../../public/toolbar/bring_front.svg);
}

.bringUpward {
    mask: url(../../../../../public/toolbar/upward.svg);
}

.bringDownward {
    mask: url(../../../../../public/toolbar/downward.svg);
}

.bringToBack {
    mask: url(../../../../../public/toolbar/bring_back.svg);
}
