.previewPanel {
    display: flex;
    flex-direction: column;
    width: 260px;
    background: var(--whiteColor);
    border-right: 2px solid var(--lightGrayBlueColor);
    max-height: 832px;
    padding-top: 7.44px;
    overflow-y: scroll;
}