.previewPanel {
    display: flex;
    flex-direction: column;
    width: 340px;
    background: var(--whiteColor);
    border-right: 2px solid var(--lightGrayBlueColor);
    max-height: 88vh;
    padding-top: 7px;
    overflow-y: scroll;
}