
.menuWrapper {
    padding: 0;
}

.menuList {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 5px 0;
}

.menuList:hover {
    background-color: var(--lightGrayColor);
}

.menuButton {
    padding: 0 0 0 7px;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font: 15px/1.2 var(--mainFontFamily);
    position: relative;
    bottom: 1px;
}

.newPresentationIcon {
    margin-left: 15px;
    background-image: url("../../../../public/header/create.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.openPresentationIcon {
    margin-left: 15px;
    background-image: url("../../../../public/header/open.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.savePresentationIcon {
    margin-left: 15px;
    background-image: url("../../../../public/header/save.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.exportToPdfIcon {
    margin-left: 15px;
    background-image: url("../../../../public/header/exportPdf.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}